In [85]:
#import dependencies
import pandas as pd
import psycopg2

import sqlalchemy
from sqlalchemy import create_engine

In [86]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [87]:
# Create an engine instance
alchemyEngine = create_engine('postgresql+psycopg2://root:Group2Wineos@grp2rdsinstance.cwkbfcctxu7y.us-east-1.rds.amazonaws.com/postgres')

In [88]:
# Connect to PostgreSQL server
dbConnection = alchemyEngine.connect();

In [89]:
#read in merged data
df = pd.read_sql_table('wine_and_weather_table', dbConnection)
df

,province,year,variety,points,prov_weather,year_weather,precipitation,temperature,timeseries
0,Alsace,2008,Other,85,Alsace,2008,891.17,10.21,Historical
1,California,2007,Merlot,85,California,2007,361.29,14.17,Historical
2,Veneto,2007,Other,85,Veneto,2007,711.80,14.26,Historical
3,Veneto,2008,Other,85,Veneto,2008,838.40,14.01,Historical
4,California,2007,Zinfandel,85,California,2007,361.29,14.17,Historical
...,...,...,...,...,...,...,...,...,...
78033,Oregon,2008,Sauvignon Blanc,85,Oregon,2008,541.78,8.25,Historical
78034,California,2008,Chardonnay,85,California,2008,447.72,14.04,Historical
78035,Alsace,2007,Riesling,85,Alsace,2007,958.81,10.68,Historical
78036,California,2007,Cabernet Sauvignon,85,California,2007,361.29,14.17,Historical
78037,Oregon,2008,Pinot Noir,85,Oregon,2008,541.78,8.25,Historical

In [90]:
# drop timeseries, prov_year, prov_weather
df = df.drop(['prov_weather', 'year_weather', 'timeseries'], axis=1)
df

,province,year,variety,points,precipitation,temperature
0,Alsace,2008,Other,85,891.17,10.21
1,California,2007,Merlot,85,361.29,14.17
2,Veneto,2007,Other,85,711.80,14.26
3,Veneto,2008,Other,85,838.40,14.01
4,California,2007,Zinfandel,85,361.29,14.17
...,...,...,...,...,...,...
78033,Oregon,2008,Sauvignon Blanc,85,541.78,8.25
78034,California,2008,Chardonnay,85,447.72,14.04
78035,Alsace,2007,Riesling,85,958.81,10.68
78036,California,2007,Cabernet Sauvignon,85,361.29,14.17
78037,Oregon,2008,Pinot Noir,85,541.78,8.25

In [91]:
df.dtypes

province          object
year               int64
variety           object
points             int64
precipitation    float64
temperature      float64
dtype: object

In [92]:
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.province.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['province'])
encode_df.head()

C:\Users\zghee\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,province_Tuscany,province_Veneto,province_Washington
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
# Fit the encoder and produce encoded DataFrame
encode2_df = pd.DataFrame(enc.fit_transform(df.variety.values.reshape(-1,1)))

# Rename encoded columns
encode2_df.columns = enc.get_feature_names(['variety'])
encode2_df.head()

C:\Users\zghee\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,variety_Bordeaux-style Red Blend,variety_Cabernet Sauvignon,variety_Chardonnay,variety_Merlot,variety_Nebbiolo,variety_Other,variety_Pinot Noir,variety_Red Blend,variety_Riesling,variety_Sangiovese,variety_Sauvignon Blanc,variety_Syrah,variety_Zinfandel
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [94]:
# Merge the two DataFrames together and drop the Country column
df = df.merge(encode_df,left_index=True,right_index=True).drop(columns="province",axis=1)
df

,year,variety,points,precipitation,temperature,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,province_Tuscany,province_Veneto,province_Washington
0,2008,Other,85,891.17,10.21,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2007,Merlot,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2007,Other,85,711.80,14.26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2008,Other,85,838.40,14.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2007,Zinfandel,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78033,2008,Sauvignon Blanc,85,541.78,8.25,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
78034,2008,Chardonnay,85,447.72,14.04,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78035,2007,Riesling,85,958.81,10.68,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78036,2007,Cabernet Sauvignon,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78037,2008,Pinot Noir,85,541.78,8.25,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [95]:
df = df.merge(encode2_df,left_index=True,right_index=True).drop("variety",axis=1)
df

,year,points,precipitation,temperature,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,...,variety_Merlot,variety_Nebbiolo,variety_Other,variety_Pinot Noir,variety_Red Blend,variety_Riesling,variety_Sangiovese,variety_Sauvignon Blanc,variety_Syrah,variety_Zinfandel
0,2008,85,891.17,10.21,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2007,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2007,85,711.80,14.26,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2008,85,838.40,14.01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2007,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78033,2008,85,541.78,8.25,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
78034,2008,85,447.72,14.04,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78035,2007,85,958.81,10.68,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
78036,2007,85,361.29,14.17,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78037,2008,85,541.78,8.25,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
#scale dataframe
from sklearn.preprocessing import StandardScaler
# Create the StandardScaler instance
scaler = StandardScaler()
df_new = df[['precipitation', 'temperature']].copy()

# Fit the StandardScaler
scaler.fit(df_new)


# Scale the data
scaled_data = scaler.transform(df_new)
scaled_data
scaled_df = pd.DataFrame(scaled_data, columns = ["precipitation_scaled", "temperature_scaled"])
scaled_df

C:\Users\zghee\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
C:\Users\zghee\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

       precipitation_scaled  temperature_scaled
0                  0.754296           -0.998311
1                 -1.293366            0.601100
2                  0.061141            0.637450
3                  0.550372            0.536477
4                 -1.293366            0.601100
...                     ...                 ...
78033             -0.595882           -1.789939
78034             -0.959367            0.548594
78035              1.015683           -0.808482
78036             -1.293366            0.601100
78037             -0.595882           -1.789939

[78038 rows x 2 columns]

In [100]:
# merge df, and scaled_data
df = df.merge(scaled_df,left_index=True,right_index=True).drop(columns=["precipitation", "temperature"], axis=1)
df

,year,points,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,...,variety_Other,variety_Pinot Noir,variety_Red Blend,variety_Riesling,variety_Sangiovese,variety_Sauvignon Blanc,variety_Syrah,variety_Zinfandel,precipitation_scaled,temperature_scaled
0,2008,85,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.754296,-0.998311
1,2007,85,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.293366,0.601100
2,2007,85,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.061141,0.637450
3,2008,85,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.550372,0.536477
4,2007,85,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.293366,0.601100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78033,2008,85,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.595882,-1.789939
78034,2008,85,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.959367,0.548594
78035,2007,85,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.015683,-0.808482
78036,2007,85,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.293366,0.601100
78037,2008,85,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.595882,-1.789939

In [102]:
y = df.pop('points')
y

0        85
1        85
2        85
3        85
4        85
         ..
78033    85
78034    85
78035    85
78036    85
78037    85
Name: points, Length: 78038, dtype: int64

In [103]:
X = df
X

,year,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,...,variety_Other,variety_Pinot Noir,variety_Red Blend,variety_Riesling,variety_Sangiovese,variety_Sauvignon Blanc,variety_Syrah,variety_Zinfandel,precipitation_scaled,temperature_scaled
0,2008,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.754296,-0.998311
1,2007,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.293366,0.601100
2,2007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.061141,0.637450
3,2008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.550372,0.536477
4,2007,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.293366,0.601100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78033,2008,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.595882,-1.789939
78034,2008,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.959367,0.548594
78035,2007,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.015683,-0.808482
78036,2007,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.293366,0.601100
78037,2008,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.595882,-1.789939

In [104]:
#Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 78)