In [1]:
# Import dependencies
import pandas as pd
import psycopg2

import sqlalchemy
from sqlalchemy import create_engine

In [2]:
# Create an engine instance
alchemyEngine = create_engine('postgresql+psycopg2://root:Group2Wineos@grp2rdsinstance.cwkbfcctxu7y.us-east-1.rds.amazonaws.com/postgres')

In [3]:
# Connect to PostgreSQL server
dbConnection = alchemyEngine.connect();

In [4]:
df = pd.read_sql_table('wine_and_weather_table', dbConnection)
df

,province,year,variety,points,prov_weather,year_weather,precipitation,temperature,timeseries
0,Alsace,2008,Other,85,Alsace,2008,891.17,10.21,Historical
1,California,2007,Merlot,85,California,2007,361.29,14.17,Historical
2,Veneto,2007,Other,85,Veneto,2007,711.80,14.26,Historical
3,Veneto,2008,Other,85,Veneto,2008,838.40,14.01,Historical
4,California,2007,Zinfandel,85,California,2007,361.29,14.17,Historical
...,...,...,...,...,...,...,...,...,...
78033,Oregon,2008,Sauvignon Blanc,85,Oregon,2008,541.78,8.25,Historical
78034,California,2008,Chardonnay,85,California,2008,447.72,14.04,Historical
78035,Alsace,2007,Riesling,85,Alsace,2007,958.81,10.68,Historical
78036,California,2007,Cabernet Sauvignon,85,California,2007,361.29,14.17,Historical
78037,Oregon,2008,Pinot Noir,85,Oregon,2008,541.78,8.25,Historical